// Brand Color Sheet
// GM
$gmDBlue: #134A9C;
$gmLBlue: #0D60E4;
$gmYellow: #EEB723;
$gmDGray: #363839;
$gmMGray: #474b51;
$gmWhite: #F3F1F1;
// Chevrolet
$chevroletYello: #F4BC00;
$chevroletDGray: #323334;
$chevroletMGray: #7F7F7F;
$chevroletLGray: #CCCCCC;
// Cadillac
$cadillacDGray: #333333;
$cadillacMGray: #4C4C4C;
$cadillacLGray: #909090;
$cadillacRed: #9E2536;
$cadillacGold: #AFA288;
// Buick
$buickDGray: #3f3f38;
$buickMgray: #DDDDDD;
$buickLgray: #F0F0F0;
$buickOrange: #F26522;
// GMC
$gmcDGray: #555555;
$gmcMGray: #7f7f83;
$gmcLGray: #EEEEEE;
$gmcLGray2: #CECECE;
$gmcRed: #A10C00;
// MOPAR
$moparBlue: #0069B5;
$moparDBlue: #1F2833;
$moparLBlue: #5A9DCE;
$moparMGray: #7A8899;
$moparLGray: #dadfe6;
$moparRed: #D20F06;
// Jeep
$jeepBlack: #222222;
$jeepLBlack: #3e3e3e;
$jeepDGray: #7F7F7F;
$jeepMGray: #BFBFBF;
$jeepLGray: #D1D1D1;
$jeepYellow: #FFBA00;
// Dodge
$dodgeMBlack: #222222;
$dodgeLBlack: #3e3e3e;
$dodgeDGray: #7F7F7F;
$dodgeMGray: #BFBFBF;
$DodgeLGray: #D1D1D1;
$dodgeRed: #D50000;
// RAM
$ramBlack: #222222;
$ramLBlack: #3e3e3e;
$ramDGray: #7F7F7F;
$ramMGray: #BFBFBF;
$ramLGray: #D1D1D1;
$ramOrange: #ba3b00;
// Chrysler
$chryslerBlack: #222222;
$chryslerLBlack: #3e3e3e;
$chryslerDGray: #7F7F7F;
$chryslerMGray: #BFBFBF;
$chryslerLGray: #D1D1D1;
$chryslerBlue: #558DDD;
// Fiat
$fiatBlack: #222222;
$fiatLBlack: #3e3e3e;
$fiatDGray: #7F7F7F;
$fiatMGray: #BFBFBF;
$fiatLGray: #D1D1D1;
$fiatRed: #B11636;
// Nissan
$nissanBlack: #000000;
$nissanGray: #EFEFEF;
$nissanRed: #C3002F;
$nissanWhite: #FFFFFF;
$nissanDGray: #666666;
$nissanMGray: #7E7E7E;
$nissanLGray: #999999;
$nissanLGray2: #E2E2E2;
// Ford
$fordBlack: #242424;
$fordMBlack: #343434;
$fordGray: #626466;
$fordLogoBlue: #14477D;
$fordDBlue: #1B394E;
$fordLBlue: #2D96CD;
$fordOrangeTruck: #F55F29;
$fordWhite: #F8F8F8;
$fordWhite2: #F4F4F3;
// Lincoln
$lincolnOrange: #F26147;
$lincolnGreen: #3e4e55;
$lincolnMGreen: #324047;
$lincolnDGreen: #293338;
$lincolnDGray: #626466;
$lincolnLGray: #EFEFEF;
// Land Rover
$landroverGray: #4A4F54;
$landroverMGray: #E4E8E8;
$landroverLGray: #898c8f;
$landroverGreen: #005A2B;
$landroverDarkBlue: #0C121C;
$landroverWhite: #F8F9F9;
// Jaguar
$jaguarRed: #9E1B32;
$jaguarBlack: #000000;
$jaguarDBlack: #141414;
$jaguarMBlack: #181818;
$jaguarGray: #444444;
$jaguarWhite: #F0F0F0;
// BMW
$bmwBlack: #211f1f;
$bmwBlack2: #414141;
$bmwDGray: #77787b;
$bmwMGray: #CACACA;
$bmwLGray: #E6E7E8;
$bmwWhite: #FCFCFC;
$bmwBlue: #1c69d3;
// Mini
$miniBlack: #000000;
$miniGray: #74747F;
$miniLGray: #F1F1F1;
$miniRed: #AC2430;
// Mercedes-Benz
$benzBlack: #000000;
$benzMBlack: #222222;
$benzBlue: #176DB7;
$benzGray: #DADADA;
$benzLGray: #F0F0F0;
$benzWhite: #F9F9F9;
// Smart
$smartBlack: #000000;
$smartYellow: #F6BA35;
$smartGray: #7F7F7F;
$smartWhite: #F1F2F2;
// Porsche
$porscheBlack: #000000;
$porscheMBlack: #1b1d1f;
$porscheDGray: #323232;
$porscheMGray: #3E4146;
$porscheBlue: #2a4b6d;
$porscheDRed: #990000;
$porscheLRed: #c00;
$porscheWhite: #F2F2F2;
// Audi
$audiBlack: #000000;
$audiRed: #c03;
$audiWhite: #F5F5F5;
// Infiniti
$infinitiBlack: #000000;
$infinitiMBlack: #333333;
$infinitiDGray: #666666;
$infinitiMGray: #555555;
$infinitiLGray: #adadad;
$infinitiWhite: #FFFFFF;
$infinitiBlue: #020B24;
$infinitiGold: #B0A591;
// Lexus
$lexusBlack: #000000;
$lexusGray: #adadad;
$lexusPurple: #54556E;
// Toyota
$toyotaBlack: #252525;
$toyotaRed: #cb2027;
$toyotaGray: #999999;
$toyotaLBlue: #EDF0F5;
$toyotaWhite: #F5F5F5;
// Subaru
$subaruBlack: #232323;
$subaruBlack2: #333333;
$subaruDGray: #999999;
$subaruLGray: #CCCCCC;
$subaruDBlue: #0F609C;
$subaruMBlue: #20609f;
$subaruLBlue: #09f;
$subaruOrange: #e6382f;
// Honda
$hondaBlue: #007cc3;
$hondaDBlue: #00324f;
$hondaRed: #ff4040;
$hondaLGray: #E7EDED;
$hondaWhite: #F5F5F5;
// Volvo
$volvoMBlack: #161618;
$volvoBlack: #000000;
$volvoDBlue: #003057;
$volvoLBlue: #2b7bcd;
$volvoLGray: #ECECEC;
// Mazda
$mazdaBlack: #191919;
$mazdaRed: #d00;
$mazdaGray: #999;
$mazdaLGray: #e7e7e7;
$mazdaWhite: #F5F5F5;
// Mitsubishi
$mitsubishiRed: #ED1C24;
$mitsubishiBlack: #202020;
$mitsubishiMBlack: #333333;
$mitsubishiLBlack: #383838;
$mitsubishiGray: #999999;
$mitsubishiLGray: #E5E5E5;
// Acura
$acuraRed: #e82c2a;
$acuraBlack: #000000;
$acuraMBlack: #1E2123;
$acuraDGray: #5d6061;
$acuraMGray: #cdcdcd;
$acuraLGray: #F3F3F3;
// Hyundai
$hyundaiBlue: #003F86;
$hyundaiMBlue: #00A9D7;
$hyundaiLBlue: #4884C9;
$hyundaiLGray: #e5e5e5;
$hyundaiWhite: #FDFDFD;
// Kia
$kiaBlack: #000000;
$kiaRed: #C4172C;
$kiaLRed: #eaaeb5;
$kiaDGray: #666666;
$kiaMGray: #888888;
$kiaLGray: #E4E5E8;
$kiaWhite: #F9F9F9;
// SAAB
$saabBlack: #000000;
$saabDGray: #666666;
$saabMGray: #5C5C5C;
$saabBlue: #022145;
$saabLBlue: #4997C0;
$saabWhite: #F1F1F1;
// VW
$vwBlack: #2C2D32;
$vwBlue: #2680B4;
$vwMBlue: #00B1EB;
$vwLBlue: #E3EBEC;
$vwGray: #88979E;
$vwLGray: #9eaab0;
$vwWhite: #F1F5F6;
