/* typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$themeFont: "Inter", sans-serif;


// colors
$white: #fff;
$black: #000;
$charcoal: #333;
$grey: #ddd;
$lightGrey: #eee;
$mediumGrey: #ccc;
$darkGrey: #444;